*.vs/
ToStringCodeGenerator/ToStringCodeGenerator.Test/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
*.dll
*.ps1
*.pdb
ToStringCodeGenerator/ToStringCodeGenerator.Test/bin/Debug/netcoreapp2.0/ToStringAnalyzer.Test.deps.json
ToStringCodeGenerator/ToStringCodeGenerator.Test/bin/Debug/netcoreapp2.0/ToStringAnalyzer.Test.runtimeconfig.dev.json
ToStringCodeGenerator/ToStringCodeGenerator.Test/bin/Debug/netcoreapp2.0/ToStringAnalyzer.Test.runtimeconfig.json
*.cache
*.CopyComplete
*.txt
ToStringCodeGenerator/ToStringCodeGenerator.Test/obj/Debug/netcoreapp2.0/ToStringAnalyzer.Test.Program.cs
ToStringCodeGenerator/ToStringCodeGenerator.Test/obj/project.assets.json
ToStringCodeGenerator/ToStringCodeGenerator.Test/obj/ToStringAnalyzer.Test.csproj.nuget.dgspec.json
*.props
*.targets
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/bin/Debug/extension.vsixmanifest
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/bin/Debug/ToStringGenerator.vsix
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/obj/Debug/_EmptyResource.resources
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/obj/Debug/extension.vsixmanifest
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/obj/Debug/files.json
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/obj/Release/_EmptyResource.resources
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/obj/Release/extension.vsixmanifest
ToStringCodeGenerator/ToStringCodeGenerator.Vsix/obj/Release/files.json
ToStringCodeGenerator/ToStringCodeGenerator/bin/Debug/netstandard1.3/ToStringAnalyzer.deps.json
ToStringCodeGenerator/ToStringCodeGenerator/bin/Debug/ToStringGenerator.1.0.0.nupkg
ToStringCodeGenerator/ToStringCodeGenerator/obj/Debug/netstandard1.3/ToStringAnalyzer.AssemblyInfo.cs
ToStringCodeGenerator/ToStringCodeGenerator/obj/Debug/netstandard1.3/ToStringAnalyzer.Resources.resources
ToStringCodeGenerator/ToStringCodeGenerator/obj/Debug/ToStringGenerator.1.0.0.nuspec
ToStringCodeGenerator/ToStringCodeGenerator/obj/project.assets.json
ToStringCodeGenerator/ToStringCodeGenerator/obj/ToStringAnalyzer.csproj.nuget.dgspec.json
